@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        margin: 0;
        min-height: 100vh;
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        @apply bg-neutral-100 text-black;
    }

    html.dark,
    html.dark body {
        @apply bg-neutral-900 text-white;
    }

    #root {
        @apply bg-neutral-100 dark:bg-neutral-900 min-h-screen;
    }

    button,
    .button {
        @apply flex gap-2 items-center px-4 py-2 border border-neutral-300 dark:border-neutral-700 bg-neutral-100 dark:bg-neutral-800 hover:bg-neutral-200 dark:hover:bg-neutral-700 active:bg-neutral-300 dark:active:bg-neutral-600 transition text-sm font-medium rounded-md disabled:opacity-50 disabled:cursor-default select-none cursor-pointer text-black dark:text-white;
    }

    button.primary,
    .button.primary {
        @apply bg-neutral-800 dark:bg-neutral-200 hover:bg-neutral-700 dark:hover:bg-neutral-300 text-white dark:text-black;
    }

    .action-button {
        @apply px-4 text-xs font-normal h-max;
    }

    *:focus-visible {
        @apply outline-2 outline-blue-500;
    }

    select:focus-visible {
        box-shadow: 0 0 0 2px;
        @apply shadow-blue-500;
    }

    label {
        @apply select-none;
    }

    input,
    .input {
        @apply px-4 py-2 bg-white dark:bg-neutral-800 text-sm rounded-md border border-neutral-300 dark:border-neutral-700 disabled:bg-transparent disabled:text-neutral-500 accent-blue-500 text-black dark:text-white;
    }

    [contenteditable='true'] {
        @apply px-4 py-2 bg-white dark:bg-neutral-800 text-sm rounded-b-md border border-t-0 border-neutral-300 dark:border-neutral-700 prose prose-neutral dark:prose-invert max-w-none;
        :first-child {
            @apply mt-0;
        }
        :last-child {
            @apply mb-0;
        }
    }

    .rich-toolbar {
        @apply !rounded-t-md !rounded-b-none !bg-neutral-100 dark:!bg-neutral-800 border border-neutral-300 dark:border-neutral-700;
    }

    .rich-toolbar button[role="combobox"] {
        @apply bg-neutral-100 dark:bg-neutral-800 hover:bg-neutral-200 dark:hover:bg-neutral-700 h-7;
    }

    .rich-toolbar button[role="combobox"] span:first-child {
        @apply !text-black dark:!text-white text-xs;
    }

    .rich-toolbar button:not([role="combobox"]) {
        @apply size-7 cursor-pointer;
    }

    .rich-toolbar button span {
        @apply flex justify-center;
    }

    .rich-toolbar button span svg {
        @apply size-5;
    }

    select {
        @apply px-4 py-2 text-sm rounded-md outline outline-1 outline-neutral-300 dark:outline-neutral-700 focus-within:shadow-sm border-r-[1rem] border-transparent bg-white dark:bg-neutral-800 text-black dark:text-white;
    }

    .grid-header {
        @apply grid grid-cols-[auto] rounded-t-md bg-neutral-100 dark:bg-neutral-800 select-none border border-neutral-300 dark:border-neutral-700;
    }

    .grid-header span {
        @apply px-4 py-2 text-xs font-medium;
    }

    .grid-row {
        @apply grid grid-cols-[auto,max-content] bg-white dark:bg-neutral-900 hover:bg-neutral-200 dark:hover:bg-neutral-700 transition border border-t-0 first:border-t border-x-neutral-300 dark:border-x-neutral-700 border-y-neutral-200 dark:border-y-neutral-800 first:border-t-neutral-300 dark:first:border-t-neutral-700 last:border-b-neutral-300 dark:last:border-b-neutral-700 first:rounded-t-md last:rounded-b-md items-center cursor-pointer;
    }

    table.documents {
        @apply border-separate border-spacing-0 rounded-md border border-neutral-300 dark:border-neutral-700 min-w-full;

        colgroup > col {
            @apply last:w-full;
        }

        thead > tr {
            @apply sticky;
        }

        th {
            @apply  text-nowrap bg-neutral-100 dark:bg-neutral-800 first:rounded-tl-md last:rounded-tr-md border-neutral-200 dark:border-neutral-700 border-b text-left font-normal px-4 py-2 text-xs w-auto;
        }

        tbody > tr {
            @apply cursor-pointer;

            td {
                @apply text-nowrap bg-white dark:bg-neutral-900 transition-colors border-b-neutral-200 dark:border-b-neutral-800 border-b text-left px-4 py-2 text-sm w-auto;
            }
        }

        tbody > tr:hover > td {
            @apply bg-neutral-200 dark:bg-neutral-700;
        }

        tbody > tr:last-child > td {
            @apply border-b-0 first:rounded-bl-md last:rounded-br-md;
        }
    }
}
